# DAY 06

# Pandas

## Pandas Basics

A dataframe can be thought of as a well-formatted array, and is central to Pandas and data science.  
<b>Make new DataFrame: </b>

In [1]:
import pandas

In [2]:
import pandas as pd

# create fake data
d = {'key':['A','A','B'],
'value':[23,44,122]}


# create dataframe
df = pd.DataFrame(d)
df

  key  value
0   A     23
1   A     44
2   B    122

<b> Read csv file with Pandas: </b>

In [ ]:
import pandas as pd


# file path of csv file
Location = r'C:\Users\stackup\notebooks\pandas\data.csv' #Be sure to use the path to YOUR csv file! 


# create dataframe
df = pd.read_csv(Location, names=['COL1','COL2'])
df

Organize your DataFrame using<b> the Pandas GroupBY </b>

In [7]:
import pandas as pd


# create fake data
d = {'key':['A','A','B'],
'value':[23,90,233]}


# create dataframe
df = pd.DataFrame(d)
df

# group by key
group = df.groupby('key')


# get sum
df_sum = group.sum()
df_sum

     value
key
A      113
B      233

<b> Concatinate </b> (put together) DataFrames

In [8]:
import pandas as pd


# create fake data
df1 = pd.DataFrame({'id':[6,7,8]})
df2 = pd.DataFrame({'id':[9,10,11]})


# glue the dataframes together
df = pd.concat([df1,df2], ignore_index=True)
df

   id
0   6
1   7
2   8
3   9
4  10
5  11